#btn {
    display: block;
    height: 30px;
    width: 80px;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
}